form {
	border-radius: 16px;
	max-width: 676px;
	margin: auto;
	display: block;
	text-align: left;
	font-size: 13px;
}

form .form-inline {
	display: grid;
	grid-template-columns: 1fr 0.0fr 1fr;
	gap: 16px;
}

form .form-inline p {
	text-align: center;
	margin-top: 10px;
	color: var(--font-color-gray);
}

form .form {
	position: relative;
	width: 100%;
	margin-bottom: 26px;
}

form .input {
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 9px;
	border: 2px solid var(--gray-color);
	background: transparent;
	color: var(--font-color);
	text-shadow: var(--font-color-invert) 1px 2px 3px;
}

form textarea {
	min-height: 110px;
	max-height: 110px;
	overflow: hidden;
	resize: vertical;
}

form label {
	position: absolute;
	top: 50%;
	left: 8px;
	color: var(--font-color-gray);
	transform: translateY(-50%);
	padding: 0 2px;
	transition: top .3s ease;
	-webkit-transition: top .3s ease;
	-moz-transition: top .3s ease;
	-o-transition: top .3s ease;
}

form textarea ~ label {
	top: 8px;
	transform: unset;
}

form .input ~ label {
	top: -15px;
	font-weight: 500;
	transform: unset;
	border-radius: 5px;
	backdrop-filter: inherit;
}

form .form:has(.input:disabled), form .form-inline:has(.input:disabled) {
	display: none;
}

form .input:valid ~ label,
form select:valid ~ label {
	color: var(--primary-color);
}

form .input.invalid ~ label {
	color: red;
}

form .input.invalid {
	border-color: red;
}

form .input:required ~ label .required {
	color: red;
}

input ~ label .required {
	color: var(--font-color-gray);
}

.count {
	display: none;
}

form .input:focus ~ .count {
	display: block;
}

form select option {
	background-color: var(--bg-color-1);
	color: var(--font-color-gray);
}

:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px var(--bg-color-1) inset !important;
	-webkit-text-fill-color: var(--font-color);
	caret-color: var(--font-color);
}

::-webkit-validation-bubble-message {
	display: none;
}

@media screen and (max-width: 700px) {
	.form-inline {
		gap: unset;
		grid-template-columns: 1fr;
	}
	.form-inline p {
		margin-top: 0;
		margin-bottom: 13px;
	}
}