:root {
    --primary-color: rgba(214, 121, 255);
    --secondary-color: rgba(129, 140, 171);
    --font-color: rgba(255, 255, 255);
    --font-color-highlight: rgb(225, 225, 225);
    --font-color-gray: rgb(168, 168, 168);
    --font-color-gray-highlight: rgb(155, 155, 155);
    --font-color-invert: rgb(0, 0, 0);
    --font-color-invert-highlight: rgb(40, 40, 40);
    --font-color-title: rgb(156, 255, 215);

    --logo-color: rgb(215, 90, 0);

    --bg-color-1: rgb(28, 28, 28);
    --bg-color-2: rgb(39, 39, 39);

    --gray-color: rgb(65, 65, 65);
    --nav-bg-color: rgb(0, 0, 0, 1);
    --nav-font-color: rgb(255, 255, 255);
}

* {
    margin: 0; scroll-behavior: smooth;
    /*UNCOMMENT FOR DEBUG*/ /*outline: 1px solid #f00 !important;*/
}
::-webkit-scrollbar {width: 1.3vh;}
::-webkit-scrollbar-track {display: none}
::-webkit-scrollbar-thumb {background: var(--gray-color); transition: background .4s ease-in-out; border-radius: 1.3vh;}

/*noinspection CssInvalidPropertyValue*/
body {
    -webkit-overflow-scrolling: touch;
    background: var(--bg-color-1);
    transition: color .4s ease-in-out, background .4s ease-in-out, opacity .5s;
    color: var(--font-color);
    overflow-anchor: none;
    overflow-y: overlay;
    box-sizing: border-box;
    animation: transitionIn 0.8s;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
}
#everything {position: relative; min-height: 100vh; width: 100%;}
#page {font-family: monospace; margin-bottom: 10px; min-height: calc(100vh - 150px)}
#wrap {flex: 1;}
#down-button:hover {transition: opacity 0.2s linear; opacity: .5; cursor: pointer;}
#down-button span {
    position: absolute;
    left: 50%;
    top: 85vh;
    width: 3vh;
    height: 3vh;
    margin-left: -1.6vh;
    border-left: .5vh solid rgba(255, 255, 255, .5);
    border-bottom: .5vh solid rgba(255, 255, 255, .5);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
hr.rounded {
    margin: 15px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 4px solid var(--gray-color);
    border-radius: 5px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    } to {
        opacity: 1;
        transform: rotateX(0);
    }
}

co-py {
    cursor: pointer;
    background: var(--bg-color-2);
    border-radius: 5px;
    word-wrap: anywhere;
    position: relative;
    display: inline-block;
}
co-py .tooltiptext {
    font-size: large;
    visibility: hidden;
    width: 170px;
    background-color: var(--gray-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
co-py .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--gray-color) transparent transparent transparent;
}
co-py:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition-duration: .7s;
}

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+gradle+java+python&plugins=line-numbers+normalize-whitespace+toolbar+copy-to-clipboard+match-braces */
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:"Segoe UI";font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:.5em; margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d; max-width: fit-content; border-radius: 10px; padding-right: 50px}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal;margin:0;}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}
pre[class*=language-].line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber}pre[class*=language-].line-numbers>code{position:relative;white-space:inherit}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}div.code-toolbar>.toolbar>.toolbar-item>button:hover{cursor: pointer;}
div.code-toolbar{position:relative; max-width: fit-content;}div.code-toolbar>.toolbar{position:absolute;z-index:10;top:.3em;right: 5px;transition:opacity .3s ease-in-out;opacity:0}div.code-toolbar:hover>.toolbar{opacity:1}div.code-toolbar:focus-within>.toolbar{opacity:1}div.code-toolbar>.toolbar>.toolbar-item{display:inline-block}div.code-toolbar>.toolbar>.toolbar-item>a{cursor:pointer}div.code-toolbar>.toolbar>.toolbar-item>button{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}div.code-toolbar>.toolbar>.toolbar-item>a,div.code-toolbar>.toolbar>.toolbar-item>button,div.code-toolbar>.toolbar>.toolbar-item>span{color:#bbb;font-size:.8em;padding:0 .5em;background:#f5f2f0;background:rgba(224,224,224,.2);box-shadow:0 2px 0 0 rgba(0,0,0,.2);border-radius:.5em}div.code-toolbar>.toolbar>.toolbar-item>a:focus,div.code-toolbar>.toolbar>.toolbar-item>a:hover,div.code-toolbar>.toolbar>.toolbar-item>button:focus,div.code-toolbar>.toolbar>.toolbar-item>button:hover,div.code-toolbar>.toolbar>.toolbar-item>span:focus,div.code-toolbar>.toolbar>.toolbar-item>span:hover{color:inherit;text-decoration:none}
.token.punctuation.brace-hover,.token.punctuation.brace-selected{outline:solid 1px}.rainbow-braces .token.punctuation.brace-level-1,.rainbow-braces .token.punctuation.brace-level-5,.rainbow-braces .token.punctuation.brace-level-9{color:#e50;opacity:1}.rainbow-braces .token.punctuation.brace-level-10,.rainbow-braces .token.punctuation.brace-level-2,.rainbow-braces .token.punctuation.brace-level-6{color:#0b3;opacity:1}.rainbow-braces .token.punctuation.brace-level-11,.rainbow-braces .token.punctuation.brace-level-3,.rainbow-braces .token.punctuation.brace-level-7{color:#26f;opacity:1}.rainbow-braces .token.punctuation.brace-level-12,.rainbow-braces .token.punctuation.brace-level-4,.rainbow-braces .token.punctuation.brace-level-8{color:#e0e;opacity:1}