.projects {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
}
.project {
	margin: 20px;
	position: relative;
	width: fit-content;
	overflow: hidden;
	background-color: var(--gray-color);
	border: 12px solid var(--bg-color-2);
	box-shadow: 3px 3px 3px var(--bg-color-2);
	max-width: 100%;
	height: fit-content;
	transition: opacity .3s ease;
	border-radius: 20px;
	will-change: contents;
}
.project img {
	transition: all .3s ease-in-out;
	margin-bottom: -3px;
}
.project p {
	color: var(--font-color);
	font-size: 20px;
	position: relative;
	bottom: -10%;
	text-align: center;
	width: 100%;
	background-color: var(--bg-color-2);
}

.project .lang, .project .version, .project .downloads {
	color: var(--font-color-highlight);
	display:inline-block;
}
.project .desc {
	color: var(--font-color-gray);
	display:inline-block;
}
.project:hover {opacity: 0.5; cursor: pointer;}
.project:hover img{transform: scale(1.2);}