.home-top {
	background-position: top center;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
	max-width: 100%;
	box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}
.home-top-text {
	top: calc(100vh - 500px);
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 4vw;
	color: var(--font-color-title);
	text-shadow: var(--font-color-invert) 1px 1px 1px;
}
.home-top-text h2 {font-size: 2vw; color: var(--font-color)}
.home-bottom-text {box-shadow: 0 0 5px 3px var(--bg-color-1);}

.projects {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
}
.project {
	margin: 20px;
	position: relative;
	width: fit-content;
	overflow: hidden;
	background-color: var(--gray-color);
	border: 12px solid var(--bg-color-2);
	box-shadow: 3px 3px 3px var(--bg-color-2);
	max-width: 100%;
	height: fit-content;
	transition: opacity .3s ease;
	border-radius: 20px;
	will-change: contents;
}
.project img {
	transition: all .3s ease-in-out;
	margin-bottom: -3px;
}
.project p {
	color: var(--font-color);
	font-size: 20px;
	position: relative;
	bottom: -10%;
	text-align: center;
	width: 100%;
	background-color: var(--bg-color-2);
}

.project .lang, .project .version, .project .downloads {
	color: var(--font-color-highlight);
	display:inline-block;
}
.project .desc {
	color: var(--font-color-gray);
	display:inline-block;
}
.project:hover {opacity: 0.5; cursor: pointer;}
.project:hover img{transform: scale(1.2);}